<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- BluetoothLe Required -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Image Transfer take pic (optional) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Bluetooth permission is required on Android 4.3 - 11 in order to communicate with Bluetooth LE devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <!-- Bluetooth Admin permission is required on Android 4.3 - 11 in order to scan for Bluetooth LE devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Location permission is required from Android 6 to 11 to be able to scan for advertising Bluetooth LE devices. -->
    <!-- Controller: Client must have ACCESS_FINE_LOCATION permission to request PRIORITY_HIGH_ACCURACY location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- BLUETOOTH_SCAN permission is needed from Android 12 to scan for Bluetooth LE devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <!-- BLUETOOTH_CONNECT permission is required from Android 12 to connect to a Bluetooth LE device -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- ACCESS_BACKGROUND_LOCATION permission is required required to trigger a successful DFU whilst the device screen is turned off: https://github.com/NordicSemiconductor/Android-DFU-Library -->
    <!-- Removed to avoid problems with new Google Play approval process -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />  -->

    <!-- FOREGROUND_SERVICE permission is required required: https://github.com/NordicSemiconductor/Android-DFU-Library/issues/321 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Downloads Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Barcode reading & Image Transfer -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Image Transfer -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- App -->
    <application
        android:name=".BluefruitApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="s">
        <service android:name=".dfu.DfuService" />

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".app.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bluefruit"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />

        <!-- DFU Notification -->
        <activity android:name=".dfu.NotificationActivity" />

        <!-- FileProvider -->
        <provider
            android:name=".utils.LegacyCompatFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>